$text-black-1: #121314;
$text-black-2: #1a1c22;
$text-blue: #1e3240;
$text-gray: #4f535f;

$black: #000000;
$black-1: #19181c;
$black-2: #212127;
$black-3: #111113;
$gray-1: #707071;
$gray-2: #8d8d8d;
$gray-3: #cfcfd0; // rating
$gray-3-15: #cfcfd015; // opacity .15
$gray-4: #e5e5e5;
$gray-5: #eff6fa;
$gray-6: #9fb5d1;
$gray-7: #787878; // notification passed time
$cream: #f6fff3;
$gray-light-1: #f5f5f5;
$gray-light-2: #e5e5e5;
$gray-light-3: #eff6ff;
$gray-light-4: #e5f1ff;
$dark-1: #313236;
$dark-2: #2e2f33;
$dark-4: #1e1e23;
$orange: #f7aa36;
$orange-light-1: #fffced;
$blue-1: #5771fc;
$blue-1-10: #5771fc1a; // opacity .1
$blue-2: #475ed8;
$blue-light-1: #57c3ff;
$blue-light-2: #ebf3fd;
$blue-light-3: #dfebfb;
$blue-light-4: #f8fbff;
$gold: #f6aa36;
$blue-fb: #1877f2;
$green-1: #65b856;
$green-2: #499d3a;
$green-3: #008d41;
$green-4: #6bc45a;
$green-light-1: #cae3c6;
$green-light-2: #f6fff3;
$white: #ffffff;
$white-1: #fafcff;
$yellow: #fbdf45; // rating
$yellow-2: #f6e734; // rating

$red: #e50606;
$red-1: #ce0707;
$red-light: #fbdada;

$rating-empty: $gray-3;
$rating-filled: $yellow;

$error: $red;
$disabled: $gray-3;

$border-radius: 4px;
$border-radius-1: 8px;
$border-radius-2: 12px;
$border-radius-3: 30px;
$border-radius-4: 40px;

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Rubik', sans-serif;
$title-font: 'Thonburi', sans-serif;

$header-height-lg: 79px;
$header-height-md: 79px;
$header-height-sm: 69px;

$ground-height-xl: 57px;
$ground-height-lg: 50px;
$ground-height-md: 40px;

$plugin-height: 310px;
$plugin-width: 300px;
$plugin-border-radius: 22px;
